<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改用户</title>
	<style type="text/css">
		body,div,ul,li,h1,form{margin:0;padding:0;}
		body{font-family: '微软雅黑';font-size:12px;}
		ul,li{list-style:none;}
		#container{padding:10px;}
		h1{text-align: center;margin-bottom: 10px;}
		form{width:600px;margin:0 auto;}
		ul{height: 30px;}
		ul li{float:left;width:33%;}
		.rg{text-align: right;padding-right: 3px;}
	</style>
</head>
<body>
	<div id="container">
		<h1>查找用户</h1>
		<form id="frm" name="frm" action="{:url('searchUser')}" method="post">
			<ul>
				<li class="rg">用户名：</li>
				<li>
					<input type="text" id="userid" name="userid">
				</li>
				<li>
					<input type="submit" id="submit" name="submit" value="确定">
				</li>
			</ul>
		</form>
	</div>
</body>
</html>